{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": ["emotion"],
  "env": {
    "development": {
      "plugins": ["react-element-info"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
